<div id="login-container">
    <h2>Registrierung</h2>
    <form id="login-form">
      <p>
        <input type="benutzername" id="benutzername" name="neeuerBenutzername" placeholder="Ihr zukünftiger Benutzername" [(ngModel)]="registerusername"
          required pattern="\S(.*\S)?"><i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="email" id="email" name="neue_email" placeholder="Ihre Email-Adresse" [(ngModel)]="registeremail" required><i
          class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="submit" id="login" value="registrieren" href="main.html" (click)="storeDataOnDB()" [routerLink]="['link_menu']" required>
      </p>
    </form>
    <div id="create-account-wrap">
      <p> <a [routerLink] = "['/link_login']">Zurück zum Login</a>
      <p>
    </div>
  </div>
