div#head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    padding: 20px;
  }
  
  h1#headline1 {
    margin: auto;
    color: black;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  figure#logo_VirtualFridge {
    text-align: center;
    margin: auto;
    margin-right: 10%;
    grid-column-start: 2;
    grid-column-end: 2;
  }
  
  figure#logo_VirtualFridge > img {
    width: 25%;
  }

  /**/
  h1{
    font-family:Arial, Helvetica, sans-serif;
  }
  
  h1#headline1{
    font-size: 50px;
    text-align: left;
    margin-left: 15%;
    margin-top: 10%;
  }

  h1#headline2{
    font-size: 60px;
    text-align: left;
    margin-left: 15%;
  }