div#head {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.überschrift{
  text-align: left;
  font-size: 35px;
}



figure#logo_VirtualFridge {
  text-align: center;

}

figure#logo_VirtualFridge > img {
  width: 15%;
}


