* {
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#createRecipe {
    display: block;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    margin-top: 50px;
    font-weight: 600;
}

#createRecipe input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: vertical;
    border-radius: 10px;
}

#btn {
    cursor: pointer;
    text-align: center;
    color: green;
}

.table {
    border-collapse: collapse;
    width: 40%;
    margin-top: 100px;
}
#head > th{
    background-color: #333;
    color: white;
    font-weight: 600;
}
.table td,
.table th {
    border: 2px solid black;
    height: 50px;
    text-align: center;
}

button#delete-button {
    color: red;
}

button#einseh-button {
    color: green;
}

label {
    margin-left: 5px;
}
a, :visited{
    color: green;
    text-decoration: none;
}
