<p>Hier ist die ausgewählte Einkaufsliste zu sehen:</p>

<p id="shoppinglist_name">{{shoppingListName}}</p>

<div class="layoutwrapper">
<div class="layoutlist">
  <table class="table3">
    <tr id="head">
      <th>Lebensmittel</th>
      <th>Menge</th>
      <th>Einheit</th>
    </tr>
    <tr *ngFor="let item of items; index as i">
      <td>{{item.grocery.name}}</td>
      <td>{{item.grocery.amount}}</td>
      <td>{{item.grocery.unit}}</td>
      <br><br>
      <td><input type="checkbox" id="shoppingListCheck" [checked]="item.ticked" (change)="updateShoppingListItem($event, shoppingListID, item.grocery.id)"></td>
      <td><button id="delete-button" (click)="deleteShoppingListItem(shoppingListID, item.grocery.id, item)">Produkt löschen</button></td>
    </tr>
</table>
<button id="delete-buttonAll" (click)="deleteShoppingAllTicked()">Alle markierten Positionen löschen</button>
</div>


<div class=layoutinput>
  <form id="createshoppingListItem">
    <label for="groceries">Neues Lebensmittel hinzufügen</label>
    <br>
    <textarea type="text" name="groceries" id="groceries" [(ngModel)]="itemname" required></textarea>
    <br />
    <br />
    <label for="Einheit">Einheit</label>
    <br />
    <div>
      <label for="f-option" class="l-radio">
        <input type="radio" id="f-option" name="selector" tabindex="1" value="gramm" [(ngModel)]="itemunit">
        <span>&nbsp;Gramm</span>
      </label>
      <label for="s-option" class="l-radio">
        <input type="radio" id="s-option" name="selector" tabindex="2" value="ml" [(ngModel)]="itemunit">
        <span>&nbsp;Milliliter</span>
      </label>
      <label for="t-option" class="l-radio">
        <input type="radio" id="t-option" name="selector" tabindex="3" value="st." [(ngModel)]="itemunit">
        <span>&nbsp;Stück</span>
      </label>
    </div>

    <div class="amount-container">
      <label for="Anzahl" id="amount">Menge</label>
      <br />
      <input type="number" id="amount" name="amount" min="1" max="1000" [(ngModel)]="itemamount">
    </div>

    <div id="btn">
      <button id="item-hinzufügen" (click)="createShoppingListItem()">Lebensmittel hinzufügen</button>
    </div>
    <br />
    <br />
  </form>
</div>
</div>
