<div id="login-container">
  <h2>Login</h2>
  <form id="login-form" name="loginForm" >
    <p>
      <input type="benutzername" id="benutzername" name="benutzername" placeholder="Benutzername" [(ngModel)]="loginusername" required><i
        class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="email" id="email" name="email" placeholder="Email-Adresse" [(ngModel)]="loginemail" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="login" value="einloggen" (click)="login()" [routerLink]="['/link_menu']">
    </p>
  </form>
</div>