<div id="login-container">
  <h2>Login</h2>
  <form id="login-form" name="loginForm" >
    <p>
      <input type="benutzername" id="benutzername" name="benutzername" placeholder="Benutzername" [(ngModel)]="loginusername" required><i
        class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="email" id="email" name="email" placeholder="Email-Adresse" [(ngModel)]="loginemail" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="passwort" id="passwort" name="passwort" placeholder="Passwort" [(ngModel)]="loginpassword" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="login" value="einloggen" (click)="login()" [routerLink]="['link_menu']">
    </p>
    <p>noch nicht angemeldet?  <a  [routerLink]="['link_register']" (click)="vfservice.showLogin=false" >Registrieren</a></p>
  </form>
</div>
