<div id="login-container">
  <h2>Login</h2>
  <form id="login-form">
    <p>
      <input type="benutzername" id="benutzername" name="benutzername" placeholder="Benutzername" required><i
        class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="email" id="email" name="email" placeholder="Email-Adresse" [(ngModel)]="loginemail" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="login" value="einloggen" (click)="login()">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Noch kein Mitglied? <a [routerLink]="['link_register']">Erstelle einen neuen Account</a>
    <p>
  </div>
</div>