<h1 class="überschrift1"> Was ist VirtualFridge eigentlich? </h1>
<div class="textbereich1">
    <p class="text1"> Der VirtualFridge ist die Lösung für die Probleme im Einkauf neuer Lebensmittel. Alleine in
        Deutschland wirft ein durchschnittlicher Bürger ca 11 Tonnen Lebensmittel weg aufgrund von
        Mindesthaltbarkeitsdaten, die überschritten wurden. Dies kommt unter anderem durch Chaos im Kühlschrank oder
        ungeregelten Einkäufen zustande. <br>
        Unsere Web-Anwendung soll dies verhindern und dafür sorgen, ein besseren Überblick über den Essensvorrat zu
        haben. </p>
</div>


<h1 class="überschrift2"> Wie sind wir auf die Idee gekommen? </h1>
<div class="textbereich2">
    <p class="text2"> Wir haben uns zusammengesetzt und gedacht, über welches Problem wir eine Anwendung schreiben
        können. Dabei sind wir durch Mind-Storming auf das Projekt "VirtualFridge" gelangt. <br>
        Unsere Intention ist, die Verbesserung der Lebensmittelverschwendungsrate mithilfe unserer Anwendung zu senken.
    </p>
</div>

<h1 class="überschrift3"> Wie ist unsere Seite aufgebaut?</h1>
<div class="textbereich3">
    <p class="text3"> Unsere Seite ist mit einem Login aufgebaut, den sie schon erfolgreich überwunden haben. Nach dem
        Login ist die Hauptseite betreten mit den Interaktionen <a>"Lager"</a> und <a>"Rezept"</a>. Diese zwei Punkte
        sind nochmal
        unterteilt in Verwaltung und Erstellung von Rezepten bzw. Lager.<br>
        Sollte alles erledigt sein, können sie sich unter dem letzten Reiter im Menü abmelden.</p>
</div>