<h1 class="überschrift1"> Was ist VirtualFridge eigentlich? </h1>
<div class="textbereich1">
    <p class="text1"> Der VirtualFridge ist eine Anwendung, die es Benutzern ermöglicht, ihre Lebensmittelvorräte zu verwalten und 
        Produktwarnungen über Lebensmittel zu erhalten. Außerdem verfügt die Anwendung über eine Verwaltung von Rezepten.  
    </p>
</div>


<h1 class="überschrift2"> Wie sind wir auf die Idee gekommen? </h1>
<div class="textbereich2">
    <p class="text2"> 
        Laut Statistiken des Umweltbundesamtes wurden im Jahr 2020 11,2 Millionen Tonnen Lebensmittelabfälle in Deutschland produziert. 
        Das entspricht etwa 75 Kilogramm pro Person. Diese Menge hat nicht hohe Auswirkungen auf die Umwelt. 
        Daher ist es wichtig, dass Maßnahmen ergriffen werden, um diese Verschwendung zu reduzieren. 
        Deshalb haben wir uns dazu entschlossen, dem mit der "VirtualFridge" entgehen zu wirken und mithilfe unserer Anwendung die 
        Lebensmittelverschwendungsrate zu senken.
    </p>
</div>

<h1 class="überschrift3"> Wie ist unsere Seite aufgebaut?</h1>
<div class="textbereich3">
    <p class="text3"> Als erstes hat der Nutzer die Möglichkeit sich anzumelden oder zu registireieren um benutzerspezifische Inhalte zu erhalten.
         Nach einer erfolgreichen Anmeldung gelangt man auf die Startseite. Auf der Startseite befinden sich schließlich die Reiter <a>"Menü"</a>, <a>"Warnung"</a>, <a>"Lager"</a>, <a>"Rezepte"</a> und <a>"Einkaufsliste" </a>
        die zuvor genannten Reiter, bieten verschiedene Funktionen die in der Nutzerdokumentation erklärt sind.<br>
    </p>
</div>