<table class="table">
    <tr id="head">
        <th>Name der Einkaufsliste</th>
        <th>listID</th>
    

    </tr>

    <tr *ngFor="let shoppinglist of shoppingLists">
        <td id="shoppingListName">{{shoppinglist.name}}</td>
        <td id="listID">{{shoppinglist.shoppingListId}}</td>
        
        <td> <button><a [routerLink]="['/link_shopping-list-view', shoppinglist.shoppingListId, shoppinglist.name]">Einkaufsliste einsehen</a></button></td>
        <td> <button id="delete-button" (click)="deleteShoppinglist(shoppinglist.shoppingListId)">Einkaufsliste löschen</button></td>
    </tr>

</table>


<form id="createShoppinglist">

    <label for="shoppinglistID">Name der Einkaufsliste </label>
    <input type="text" name="shoppingListID" id="shoppingListID" [(ngModel)]="shoppingListName" required>

    <div id="btn">
        <input type="button" id="btn" value="Liste erstellen" (click)="createShoppinglist()" >
    </div>
    
</form>

<!--<ul *ngFor="let shoppinglist of shoppinglists">
    <p>{{shoppinglist.listID}}</p>
    <p>{{shoppinglist.name}}</p>
    <ul *ngFor="let item of shoppinglist.list">
                            <li>
                                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                <label for="vehicle1"> {{item}} </label><br>
                            </li>
    </ul>
    <div id="btn">
    <input type="button" id="btn" value="Liste löschen" (click)="deleteShoppinglist(shoppinglist.listID)" >
    </div>

</ul> -->

