.überschrift1{
    margin-top: 50px;
    color: black;
    text-align: center;
}
.warnung {
    margin-top: 50px;
}

.warnungsbereich {

    border-style: solid;
    border-width: 1px;
    margin: 20px;
    margin-bottom: 50px;
    background-color: beige;
    
}

.inhaltWarnung {
    text-align: justify;
    margin: 20px;
    font-size:large;
    
}

#warning_image{
    /* @Tina und Klara --> hier bild anpassen (größe, position usw.)*/

    height: 200px;
    width: 200px;
}

