<h1 class="überschrift1">Aktuelle Lebensmittelwarnungen</h1>


<ul *ngFor="let warning of warninglist">

    <h1 class="warnung"> </h1>
<div class="warnungsbereich">
    <p class="inhaltWarnung"> 
        <li>
            <p>Datum: {{warning.date}}</p>
            <p>Produktname: {{warning.productName}}</p>
            <p>Grund: {{warning.reason}}</p>
            <p>Hersteller: {{warning.producer}}</p>
            <p>Betroffene Länder:</p>
            <ul *ngFor="let land of warning.laender">
                <li>
                        {{land}}
                </li>
            </ul>
            
            <img id = "warning_image" src= {{warning.image}}> 
        </li>


    </p>
</div>
 
</ul>
