* {
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#createGroceries {
    display: block;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
}

#createGroceries textarea, input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: vertical;
    border-radius: 10px;
}

#btn , #btn2{
    cursor: pointer;
    text-align: center;
    color: green;
}

.table2 {
    border-collapse: collapse;
    width: 40%;
    margin-top: 100px;
    /* nachschauen wegen abständen auf der main*/
    background-color: lightgray;
    margin-bottom: 100px;
}

.table2 td,
.table2 th {
    border: 2px solid black;
    height: 50px;
    text-align: center;
}

input#groceries {
    height: 100px;
}
button#delete-button{
    color: red;
}
