<p>Hier sind die Zutaten des ausgewählten Rezepts zu sehen:</p>

<table class="table2">
  <tr id="head2">
    <th>Zutatname</th>
    <th>Anzahl</th>
    <th>Einheit</th>
  </tr>
  <tr *ngFor="let ingredient of ingredients; index as i">
    <th>{{ingredient.name}}</th>
    <th>{{ingredient.amount}}</th>
    <th>{{ingredient.unit}}</th>
    <th><button id="delete-button" (click)="deleteDataOnDB(curRecipeID, ingredient.id)">Zutat löschen</button></th>
  </tr>
</table>





<form id="createGroceries">
  <label for="groceries">Zutat</label>
  <textarea type="text" name="groceries" id="groceries" [(ngModel)]="ingredientname" required></textarea>
  <br />
  <br />
  <label for="Einheit">Einheit</label>
  <br />
  <div>
    <label for="f-option" class="l-radio">
      <input type="radio" id="f-option" name="selector" tabindex="1">
      <span>&nbsp;Gramm</span>
    </label>
    <label for="s-option" class="l-radio">
      <input type="radio" id="s-option" name="selector" tabindex="2">
      <span>&nbsp;Milliliter</span>
    </label>
    <label for="t-option" class="l-radio">
      <input type="radio" id="t-option" name="selector" tabindex="3">
      <span>&nbsp;Stück</span>
    </label>
  </div>

  <div class="amount-container">
    <label for="Anzahl" id="amount">Menge</label>
    <br />
    <input type="number" id="amount" name="amount" min="1" max="1000" [(ngModel)]="ingredientamount">
  </div>

  <div id="btn">
    <button id="zutat-hinzufügen" (click)="storeDataOnDB()">Zutat hinzufügen</button>
  </div>
  <br />
  <br />
  <label for="description">Zubereitung</label>
  <textarea type="description" name="description" id="description" required></textarea>

  <div id="btn2">
    <button id="rezept-zubereiten">Rezeptzubereitung</button>
  </div>
</form>