<table class="table2">
    <tr>
        <th>Zutatname</th>
        <th>Anzahl</th>
        <th>Menge</th>
        <th>Einheit</th>
    </tr>
    <tr *ngFor="let ingredient of ingredients; index as i">
        <th>{{ingredient.name}}</th>
        <th>{{ingredient.amount}}</th>
        <th></th>
        <th>{{ingredient.unit}}</th>
        <th><button id="delete-button">Zutat löschen</button></th>
    </tr>
</table>





<form id="createGroceries">
    <label for="groceries">Zutaten</label>
    <textarea type="text" name="groceries" id="groceries" required></textarea>
    <div id="btn">
        <input type="button" id="btn" value="Zutat hinzufügen">
    </div>
    <br />
    <br />
    <label for="description">Zubereitung</label>
    <textarea type="description" name="description" id="description" required></textarea>

    <div id="btn2">
        <input type="button" id="btn" value="Rezept anlegen">
    </div>
</form>