<nav>
    <ul>
        <li>
            <a [routerLink]="['link_menu']"> Menü</a>
        </li>
        <li>
            <a [routerLink]="['link_storage']">Lager erstellen</a>
        </li>
        <li>
            <a [routerLink]="['link_storageview']">Lager einsehen</a>
        </li>
        <li>
            <a [routerLink]="['link_recipe']">Rezept anlegen</a>
        </li>
        <li>
            <a [routerLink]="['link_recipeview']">Rezept erstellen</a>
        </li>
        <li>
            <a [routerLink]="['link_login']">Abmelden</a>
        </li>
    </ul>
</nav>