<nav>
    <ul>
        <li>
            <a [routerLink]="['link_menu']"> Menü</a>
        </li>
        <li>
            <a [routerLink]="['link_food-warning']">Warnungen</a>
        </li>
        <li>
            <a [routerLink]="['link_storage', getUserID()]">Lager</a>
        </li>
        <li>
            <a [routerLink]="['link_recipe', getUserID()]">Rezept</a>
        </li>
        <li>
        <a [routerLink]="['link_shopping-list', getUserID()]">Einkaufsliste</a>
        </li>




        <li id="abmeldenButton">
            <a  [routerLink]="['link_login']" (click)="logOff()">Abmelden</a>
        </li>
        <li id="account_verwaltung">
            <a [routerLink]="['link_acc-edit']"><img id="acc_verwaltung" src="assets/img/benutzer-2.png" ></a>
        </li>
    </ul>
</nav>
