<p>food-creation works!</p>

<div class="layoutwrapper">

  <div class="layoutlist grey round-corners">
    <div class="tableFixHead">
<table class="table3">
  <thead>
  <tr id="head">
    <th>Food</th>
    <th>ID</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let food of allFoods; index as i">
    <td>{{food.name}}</td>
    <td>{{food.id}}</td>
    <td></td>
    <td><button id="open-button" (click)="setCurFoodToThis(food.id)">Zeige Food an</button></td>
  </tr>
  </tbody>
</table>
</div>
</div>

<div class="layoutinput greyer round-corners">

  <label for="foodname">foodname</label>
  <textarea type="text" name="foodname" id="foodname" [(ngModel)]="foodName" required></textarea>
  <button  (click)="postFoodDataOnDB()">post new Food</button>
  <br />
  <br />


  <button  (click)="postFoodAttributeDataOnDB()">post attributes of Food</button>
  <br />
  <label for="newAttributeName">new Attribute: </label><input type="text" [(ngModel)]="newAttributeName">
  <label for="newAttributeValue">New Value: </label><input type="text" [(ngModel)]="newAttributeValue">
  <button  (click)="addNewAttributeValue()">Attribute+</button>


<table class="table3">
  <thead>
  <tr id="head">
    <th>Attribute</th>
    <th>Value</th>
    <th>ID</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let attribute of attributes; index as i">
    <td>{{attribute.name}}</td>
    <td>
      <input type="text" [(ngModel)]="attributes[i].value">
    </td>
    <td>{{attribute.id}}</td>
  </tr>
  </tbody>
</table>

</div>

<br>
<input type="text" id="barcodeinput" [(ngModel)]="barCode">
<br>
<button  (click)="getFoodDataFromOpenFood()">fill Food with data from api</button>


<button  (click)="toggleBarcodeScanner()">Barcodescanner on/off</button>
<zxing-scanner
    [formats]="allowedFormats"
    [enable]="scannerEnabled"
    (scanSuccess)="scanSuccessHandler($event)"
    (scanFailure)="scanFailureHandler($event)"
    (scanError)="scanErrorHandler($event)"
    (scanComplete)="scanCompleteHandler($event)"
                  >
</zxing-scanner>

  <p>scannerstatus: {{scannerstate}}</p>

  <p>scannedcode: {{scannedCode}}</p>
