<p>Hier ist das Lager zu sehen, welches ausgewählt wurde:</p>
<p>{{storageName}}</p>
<table class="table3">
  <tr id="head">
    <th>Lebensmittel</th>
    <th>Menge</th>
    <th>Einheit</th>
  </tr>
  <tr *ngFor="let grocery of groceries; index as i">
    <td>{{grocery.name}}</td>
    <td>{{grocery.amount}}</td>
    <td>{{grocery.unit}}</td>
    <td><button id="delete-button" (click)="deleteDataOnDB(curStorageID, grocery.id)">Zutat löschen</button></td>
  </tr>


</table>
<form id="createGroceries">
  <label for="groceries">Lebensmittel</label>
  <textarea type="text" name="groceries" id="groceries" [(ngModel)]="groceryname" required></textarea>
  <br />
  <br />
  <label for="Einheit">Einheit</label>
  <br />
  <div>
    <label for="f-option" class="l-radio">
      <input type="radio" id="f-option" name="selector" tabindex="1" value="gramm" [(ngModel)]="groceryunit">
      <span>&nbsp;Gramm</span>
    </label>
    <label for="s-option" class="l-radio">
      <input type="radio" id="s-option" name="selector" tabindex="2" value="ml" [(ngModel)]="groceryunit">
      <span>&nbsp;Milliliter</span>
    </label>
    <label for="t-option" class="l-radio">
      <input type="radio" id="t-option" name="selector" tabindex="3" value="st." [(ngModel)]="groceryunit">
      <span>&nbsp;Stück</span>
    </label>
  </div>

  <div class="amount-container">
    <label for="Anzahl" id="amount">Menge</label>
    <br />
    <input type="number" id="amount" name="amount" min="1" max="1000" [(ngModel)]="groceryamount">
  </div>

  <div id="btn">
    <button id="zutat-hinzufügen" (click)="storeDataOnDB()">Lebensmittel hinzufügen</button>
  </div>
  <br />
  <br />
</form>
<p>Sie wollen ein Rezept vorgeschlagen bekommen?</p>

<div id="recipetip">
  <input type="button" id="btn_recipetip" value="Rezeptvorschlag" [routerLink]="['/link_recipesuggestion', curStorageID]">
</div>